<a href="https://colab.research.google.com/github/mekhiya/python-dsa/blob/main/bin_tree_search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
class User:
  def __init__(self, username, name, email):
    self.username = username
    self.email = email
    self.name = name
    print("User created!")

  def __repr__(self):
    return "User(username='{}', name='{}', email='{}')".format(self.username, self.name, self.email)

  def __str__(self):
    return self.__repr__()

  def introduce_yourself(self, guest_name):
    print(f"Hello {guest_name} send me email at {self.email}")

In [32]:
user4 = User('jane', 'Jane Doe', 'jane@doe.com')

User created!

In [33]:
user4

User(username='jane', name='Jane Doe', email='jane@doe.com')

In [34]:
class UserDatabase:
  def insert(self, user):
    pass

  def find(self, username):
    pass

  def update(self, user):
    pass

  def list_all(self):
    pass

In [35]:
'''
aakash = User('aakash', 'Aakash Rai', 'aakash@example.com')
biraj = User('biraj', 'Biraj Das', 'biraj@example.com')
hemanth = User('hemanth', 'Hemanth Jain', 'hemanth@example.com')
jadhesh = User('jadhesh', 'Jadhesh Verma', 'jadhesh@example.com')
siddhant = User('siddhant', 'Siddhant Sinha', 'siddhant@example.com')
sonaksh = User('sonaksh', 'Sonaksh Kumar', 'sonaksh@example.com')
vishal = User('vishal', 'Vishal Goel', 'vishal@example.com')

'''

"\naakash = User('aakash', 'Aakash Rai', 'aakash@example.com')\nbiraj = User('biraj', 'Biraj Das', 'biraj@example.com')\nhemanth = User('hemanth', 'Hemanth Jain', 'hemanth@example.com')\njadhesh = User('jadhesh', 'Jadhesh Verma', 'jadhesh@example.com')\nsiddhant = User('siddhant', 'Siddhant Sinha', 'siddhant@example.com')\nsonaksh = User('sonaksh', 'Sonaksh Kumar', 'sonaksh@example.com')\nvishal = User('vishal', 'Vishal Goel', 'vishal@example.com')\n\n"

In [36]:
class TreeNode:
  def __init__(self, key):
    self.key = key
    self.left = None
    self.right = None

In [37]:
node0 = TreeNode(3)
node1 = TreeNode(4)
node2 = TreeNode(5)

In [38]:
node0.left = node1
node0.right = node2
tree = node0
tree.key

3

In [39]:
node0.left.key, node0.right.key

(4, 5)

In [40]:
tree_tuple = ((1,3,None) , 2 , ((None, 3, 4), 5, (6, 7, 8)))

In [41]:
'''
base case :
if node == None return None
if nonde.left == None and node.right == None then return Node

In all other cases call parse_tuple
parse_tuple()
'''

'\nbase case :\nif node == None return None\nif nonde.left == None and node.right == None then return Node\n\nIn all other cases call parse_tuple\nparse_tuple()\n'

In [42]:
def parse_tuple(data):
  if isinstance(data, tuple) and len(data) == 3:
    node = TreeNode(data[1])
    node.left = parse_tuple(data[0])
    node.right = parse_tuple(data[2])
  elif data is None:
    node = None
  else:
    node = TreeNode(data)
  return node

In [43]:
def parse_tuple1(data):
  if len(data) == 3 and isinstance(data, tuple):
    node = TreeNode(data[1])
    node.left = TreeNode(data[0])
    node.right = TreeNode(data[2])
  elif node == None:
    return None
  else:
    return TreeNode(data)
  return node

In [44]:
def parse_tuple2(data):
  if len(data) == 3 and isinstance(data, tuple):
    node = TreeNode(data[1])
    node.left = TreeNode(data[0])
    node.right = TreeNode(data[2])
  elif data == None:
    return None
  else:
    return TreeNode(data)

  return node

In [45]:
def parse_tuple3(data):
  if len(data) == 3 and isinstance(data, tuple):
    node = TreeNode(data[1])
    node.left = TreeNode(data[0])
    node.right = TreeNode(data[2])
  elif node == None:
    return None
  else:
    return TreeNode(data)

  return node

In [46]:
data = ((1,3,None),2,(3,5,7))
tree = parse_tuple(data)

In [47]:
tree.left.key, tree.key, tree.right.key

(3, 2, 5)

In [48]:
tree.left.left.key, tree.left.key

(1, 3)

In [49]:
def tree_to_tuple(node):
  if isinstance(node, TreeNode):
    if node.left is None and node.right is None:
      return node.key

    return (tree_to_tuple(node.left), node.key, tree_to_tuple(node.right))

In [50]:
tree_to_tuple(tree)

((1, 3, None), 2, (3, 5, 7))

In [51]:
def display_keys(node, space='\t', level=0):
  # print(node.key if node else None, level)

  # If the node is empty
  if node is None:
    print(space*level + '∅')
    return

  # If the node is a leaf
  if node.left is None and node.right is None:
    print(space*level + str(node.key))
    return

  # If the node has children
  display_keys(node.right, space, level+1)
  print(space*level + str(node.key))
  display_keys(node.left,space, level+1)

In [52]:
display_keys(tree, '  ')

    7
  5
    3
2
    ∅
  3
    1

In [53]:
# IN ORDER TRAVERSAL

In [54]:
def in_order_tree_traversal(node):
  if node == None:
    return []

  return (in_order_tree_traversal(node.left) + [node.key] + in_order_tree_traversal(node.right))

In [55]:
def tree_height(node):
  if node == None:
    return 0

  return (1+ max(tree_height(node.left), tree_height(node.right)))

In [56]:
tree_height(tree)

3

In [57]:
def tree_size(node):
  if node == None:
    return None
  return 1 + tree_size(node.left) + tree_size(node.right)

In [58]:
class TreeNode():
  def __init__(self, key):
    self.key, self.left, self.right = key, None, None

  def height(self):
    if self is None:
      return 0
    return 1 + max(TreeNode.height(self.left), TreeNode.height(self.right))

  def size(self):
    if self is None:
      return 0
    return 1 + TreeNode.size(self.left) + TreeNode.size(self.right)

  def traverse_in_order(self):
    if self is None:
      return []
    return (TreeNode.traverse_in_order(self.left) + [self.key] + TreeNode.traverse_in_order(self.right))

  def display_keys(self, space='\t', level=0):
    if self is None:
      print(space+level + '0')
      return
    if self.left is None and self.right is None:
      print(space*level + str(self.key))
      return
    # if the nodes have children
    display_keys(self.right. space, level+1)
    print(space*level + str(self.key))
    display_keys(self.left, space, levle+1)

  def to_tuple(self):
    if self is None:
      return None
    if self.left is None and self.right is None:
      return self.key
    return TreeNode.to_tuple(self.left), self.key, TreeNode.to_tuple(self.right)

  def __str__(self):
    return "BinaryTree <{}>".format(self.to_tuple())

  def __repr__(self):
    return "BinaryTree <{}>".format(self.to_tuple())

  def parse_tuple(self):
    if self is None:
      node = None
    elif isinstance(node, tuple) and len(node) == 3:
      node = TreeNode(data[1])
      node.left = TreeNode(data[0])
      node.right = TreeNode(data[2])
    else:
      node = TreeNode(data)
    return node

In [60]:
def isBST(root):
  if root is None:
    return True
  if root.left is not None and root.left.key > root.key:
    return False
  if root.right is not None and root.right.key < root.key:
    return False
  left = isBST(root.left)
  right = isBST(root.right)

  if left == True and right == True:
    return True
  else:
    return False

In [63]:
aakash = User('aakash', 'Aakash Rai', 'aakash@example.com')
biraj = User('biraj', 'Biraj Das', 'biraj@example.com')
hemanth = User('hemanth', 'Hemanth Jain', 'hemanth@example.com')
jadhesh = User('jadhesh', 'Jadhesh Verma', 'jadhesh@example.com')
siddhant = User('siddhant', 'Siddhant Sinha', 'siddhant@example.com')
sonaksh = User('sonaksh', 'Sonaksh Kumar', 'sonaksh@example.com')
vishal = User('vishal', 'Vishal Goel', 'vishal@example.com')

User created!
User created!
User created!
User created!
User created!
User created!
User created!

In [61]:
class BSTNode():
  def __init__(self, key, value=None):
    self.key = key
    self.value = value
    self.left = None
    self.right = None
    self.parent = None

In [64]:
tree = BSTNode(jadhesh.username, jadhesh)

In [65]:
# Level 1
tree.left = BSTNode(biraj.username, biraj)
tree.right = BSTNode(sonaksh.username, sonaksh)

In [66]:
display_keys(tree)

	sonaksh
jadhesh
	biraj

In [68]:
def insertBST(node, key, value):
  if node is None:
    node = BSTNode(key,value)
  if key < node.key:
    node.left = insertBST(node.left, key, value)
    node.left.parent = node
  if key > node.key:
    node.right = insertBST(node.right, key, value)
    node.right.parent = node
  return node

In [69]:
insertBST(tree, biraj.username, biraj)
insertBST(tree, sonaksh.username, sonaksh)
insertBST(tree, aakash.username, aakash)
insertBST(tree, hemanth.username, hemanth)
insertBST(tree, siddhant.username, siddhant)
insertBST(tree, vishal.username, siddhant)

In [70]:
display_keys(tree)

		vishal
	sonaksh
		siddhant
jadhesh
		hemanth
	biraj
		aakash

In [71]:
tree_height(tree)

3

In [74]:
def find(node, key):
  if node is None:
    return None
  if key == node.key:
    return node
  if key < node.key:
    return find(node.left, key)
  if key > node.key:
    return find(node.right, key)

In [75]:
node = find(tree, 'hemanth')
node.key, node.value

('hemanth',
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'))

In [76]:
def update(node, key, value):
  target = find(node, key)
  if target is not None:
    target.value = value

In [77]:
def list_all(node):
  if node is None:
    return []
  return list_all(node.left) + [node.key, node.value] + list_all(node.right)

In [78]:
list_all(tree)

['aakash',
 User(username='aakash', name='Aakash Rai', email='aakash@example.com'),
 'biraj',
 User(username='biraj', name='Biraj Das', email='biraj@example.com'),
 'hemanth',
 User(username='hemanth', name='Hemanth Jain', email='hemanth@example.com'),
 'jadhesh',
 User(username='jadhesh', name='Jadhesh Verma', email='jadhesh@example.com'),
 'siddhant',
 User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com'),
 'sonaksh',
 User(username='sonaksh', name='Sonaksh Kumar', email='sonaksh@example.com'),
 'vishal',
 User(username='siddhant', name='Siddhant Sinha', email='siddhant@example.com')]

In [79]:
# tree_height

def checkBalancedBT(node):
  if node is None:
    return True
  lheight = tree_height(node.left)
  rheight = tree_height(node.right)
  if abs(lheight-rheight) > 1:
    return False
  lcheck = checkBalancedBT(node.left)
  rcheck = checkBalancedBT(node.right)
  if lcheck == True and rcheck == True:
    return True

In [83]:
def make_balanceTree(data, lo=0, hi=None, parent=None):
  if hi is None:
    hi = len(data)-1
  if lo > hi:
    return None
  mid = hi + lo // 2
  key, value = data[mid]

  root = BSTNode(key, value)
  root.parent = parent
  root.left = make_balanceTree(data, lo, mid-1, root)
  root.right = make_balanceTree(data, mid+1, hi, root)

  return root